<div
  *ngFor="let video of videos"
  class="preview"
  [class.selected]="(selectedVideoId | async) === video.id"
>
  <a [routerLink]="" [queryParams]="{ selectedVideoId: video.id }">
    <app-video-item [video]="video"></app-video-item>
  </a>
</div>
